body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f1f1f1;
    position: relative;
}

/*--------------------------------NAVIGATION------------------------------------*/
.navbar, #navbar-collapse ul li{
	border-radius: 0;
	border-color: #d79922;
	background-color: #d79922;
	margin-bottom: 1px;
	position: relative;
	z-index: 20;
}

.navbar-scroll{
	position: fixed;
	width: 100%;
}

.navbar-brand{
	padding:0;
}

.navbar-inverse .navbar-toggle{
	border-color: black;
}
	
.navbar-inverse .navbar-toggle .icon-bar{
	background-color: black;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
	background-color: #F2B11B;
	border-color: black;
}

.navbar-inverse .navbar-collapse{
	border-color: black;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
	background-color: #F2B11B;
}

.navbar-inverse .navbar-nav li a{
	color: black;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.navbar-inverse .navbar-nav li a:hover{
	background-color: #F2B11B;
	color: #ffffff;
}

.navbar-right li input[type="text"]{
	position: absolute;
	color: black;
	padding: 10px 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 600px;
	font-size: 15px;
	right:50px;
	top:5px;
	display: none;
	z-index: 20;
}

.navbar-nav>li>.dropdown-menu{
	background-color: #F2B32E;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a{
	color: black;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
	background-color: #F2B32E;
}


/*------------------------------CAROUSEL----------------------*/

#carousel{
	margin-bottom: 20px;
	background-color: white;
}

.carousel-inner>img{
	width:100%;
	border-radius: 2px;
}

.carousel-indicators li{
	border-radius: 2px;
	z-index: 20;
}


/*---------------------------CONTENT-----------------------------------*/
.item-type-title
{
	background-image: url("../images/title_back.png");
	background-repeat: repeat-y;
	padding:10px 5px;
	color: black;
}

.thumbnail{
	border: none;
	margin-bottom: 10px;
	position: relative;
	color: black;
}

.thumbnail:hover{
	text-decoration: none;
}

.thumbnail i{
	position: absolute;
	font-size: 5em;
	top:40%;
	left:50%;
	margin: 0 0  0 -25px;
	z-index: 10;
	color:red;
	opacity: 0;
}

/*.thumbnail i:hover{
	opacity: 1.0;
}*/

.thumbnail img{
	padding: 0;
	border-radius: 3px 3px 0 0;
	opacity: 1.0;
	-moz-opacity: 1.0;
	-khtml-opacity: 1.0;
	z-index: 9;
}

/*.thumbnail img:hover{
	transition: all ease 0.5s;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
}*/

.item-title{
	background-color: #d79922;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding:2px;
	font-size: 20px;
	color: black;
	border-radius: 0 0 3px 3px;
}

/*-----------------------------CONTACT US----------------------------------*/
#contact-us{
	background-color: white;
	border-radius: 5px;
	margin: 50px 30px 0 30px;
}

#contact-us-title{
	background-color: #d79922;
	color: black;
	font-size: 20px;
	border-radius: 5px 5px 0 0;
	padding:10px 20px;
}

form
{
	margin: 10px;
}

form .form-col{
	display: block;
}

form label{
	margin-left: 10px;
	color: #9F00F2;
	font-size: 15px;
	font-weight: bold;
}

form input[type="text"], form input[type="password"], form textarea{
	color: black;
	padding: 10px 15px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	font-size: 15px;
}

form textarea{
	height: 150px;
}

form input[type="button"], form input[type="submit"]{
	color: black;
	background-color: #d79922;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	border-color: #D78E01;
	padding: 5px 10px;
	margin: 30px 0 30px 20px;
}

blockquote{
	border-left:none;
}

#contact-us form div img:hover, .modal-image img:hover{
	-moz-opacity: 1.0;
	opacity: 1.0;
	-khtml-opacity: 1.0;
}

#add{
	float:right;
}

#contact-us form div a img{
	border-radius: 3px;
}


/*--------------------------------FOOTER--------------------------------*/
.footer-distributed {
	background-color: #d79922;
	padding:20px 50px;
	margin-top: 50px;
	font-family: 'Open Sans', sans-serif;
}

.footer-distributed .footer-links{
	color: black;
}

.group-member{
	padding-left: 0;
	margin: 5px;
	font-size: 12px;
	color: black;
}

.footer-distributed .footer-center p, .footer-distributed .footer-company-about span{
	color: black;
}

.footer-distributed .footer-center p a{
	color: #9F00F2;
}

.footer-distributed .footer-center i, .footer-distributed .footer-icons a{
	background-color: #F2B32E;
	color: black;
}

/*----------------------------MODAL----------------------------------*/
.show{
	display: block;
}
.hide{
	display: none;
}

.modal-dialog{
	position: relative;
	z-index: 20px;
}

.close-modal{
	position: absolute;
	right:10px;
	top:10px;
	color:white;
	background-color: #d79922; 	
}

.modal-dialog{
	display: block;
	transition: all ease 1s;
}

.modal-content{
	border-radius: 5px;
	position:absolute;
	left: 25%;
	right:25%;
	display: none;
	z-index: 30;
}

.modal-content .container-fluid{
	padding: 0;
}

.modal-title{
	background-color: #d79922;
	color: black;
	border-radius: 5px  5px 0 0;
	width:100%;
	margin-bottom: 30px;
	padding: 10px;
	font-weight: bold;
}

.modal-image img{
	height:30%;
	width:30%;
	border-radius: none;
}

.item-info{
	margin: 10px 20px;
	font-size: 16px;
}

#sign-up{
	margin:20px 0;
	text-align: center;
}

#login-button-component{
	width: 100%;
}

#login-button-component tr td{
	text-align: center;
	width:50%;
}

#login-button-component tr td input[type="button"],#login-button-component tr td input[type="submit"]{
	margin: 10px;
	width: 75%;
}

.modal-content .row form label{
	margin: 20px 0 5px 10px;
}

.item-info{
	text-align: center;
}